* {
   box-sizing: border-box;
   background-color: black;
   color: white;
   text-align: center;
   font-family: Verdana, sans-serif;
}

h1 {
   font-weight: normal;
   font-size: 50px;
}

h2 {
   font-weight: 300;
   font-size: 42px;

}

h3 {
   font-size: 21px;
   font-weight: normal;
   color: gray;
}

h6 a {
   color: aquamarine;
   font-size: 16px;
   font-weight: normal;
}

footer div p {
   text-align: right;
   color: gray;
   margin-top: 10px;
}

#banner {
   width: 100%;
}

#banner img {
   max-width: 100%;
}

#iconContainer img {
   margin-top: 21px;
}


